$color_grey: #ffffff;
$color_green: #5ee70f;
$color_dark: #1a1a1a;
$color_light: #fafafa;
$color_background: #2d3235;
$default_timer: 987ms;
$breakpoint-alpha: 480px;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#title {
  padding: 3px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding-right: 55px;

  &:hover {
    & .button__border-circle {
      transform: translateX(60px);
    }

    & .button__mask-circle {
      clip-path: circle(25px at 85px);
    }
  }
}

.button__text {
  z-index: 1;
  font-size: 17px;
  margin-right: -18px;
  color: whitesmoke;
  letter-spacing: 0.05em;
}

.button__wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.button__arrow {
  left: 35px;
  height: 5px;
  width: 50px;
  display: flex;
  position: absolute;
  align-items: center;
  background-color: $color_green;

  &:after {
    content: "";
    width: 0;
    height: 0;
    top: -5px;
    right: -7px;
    position: absolute;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid $color_green;
  }
}

.button__border-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid $color_grey;
  transition: transform $default_timer;
}

.button__mask-circle {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(25px);
  transition: clip-path $default_timer;
}

.button__small-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translateX(60px);
  background-color: $color_green;
}

.start-position {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.center-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.center-quiz {
  display: flex;
  justify-content: center;
}

.game-container {
  background-color: #282c34;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
}

.question-text {
  margin-bottom: 12px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #282c34;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
  border: 5px solid whitesmoke;
  cursor: pointer;
}

.question-flip {
  margin-bottom: 12px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #282c34;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.question-section {
  width: 100%;
  position: relative;
}

button:hover {
  background-color: #b6c6ff;
}

button svg {
  margin-right: 5px;
}

.answerButton {
  width: 80%;
  font-size: 16px;
  color: #ffffff;
  background-color: #282c34;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: center;
  border: 5px solid whitesmoke;
  cursor: pointer;
  margin-left: 20px;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#login {
  padding: 15px;
  color: whitesmoke;
  font-size: 25px;
  text-decoration: none;
}

#signup {
  color: whitesmoke;
  font-size: 25px;
  text-decoration: none;
}

#logout {
  background-color: whitesmoke;
  color: #282c34;
  padding: 8px;
  font-size: 18px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Maitree", serif;
}

#intGame {
  padding: 15px;
  color: whitesmoke;
  font-size: 25px;
  text-decoration: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.color-nav {
  background: #342e2e;
  font-family: "Maitree", serif;
  color: whitesmoke;
  font-size: 25px;
  padding-right: 20px;
}

.navi-container {
  display: flex;
  padding: 9px;
}

.navi-login {
  display: flex;
  justify-content: flex-end;
}

.navi-header {
  display: flex;
  flex: 3;
  justify-content: flex-start;
}

.soundwave {
  width: 600px;
  height: 70px;
  margin: 50px auto;
}
.bar {
  display: inline-block;
  background-color: #342e2e;
  width: 20px;
  height: 20px;
  animation: wave 2s linear infinite;
}
.a1 {
  animation-delay: 0s;
}
.a2 {
  animation-delay: 0.2s;
}
.a3 {
  animation-delay: 0.4s;
}
.a4 {
  animation-delay: 0.6s;
}
.a5 {
  animation-delay: 0.8s;
}
.a6 {
  animation-delay: 1s;
}
.a7 {
  animation-delay: 1.2s;
}
.a8 {
  animation-delay: 1.4s;
}
.a9 {
  animation-delay: 1.6s;
}
.a9 {
  animation-delay: 1.6s;
}
.a10 {
  animation-delay: 1.8s;
}
.a11 {
  animation-delay: 2s;
}
.a12 {
  animation-delay: 2.2s;
}
.a13 {
  animation-delay: 2.4s;
}
.a14 {
  animation-delay: 2.6s;
}
.a15 {
  animation-delay: 2.8s;
}
.a16 {
  animation-delay: 3s;
}
.a17 {
  animation-delay: 3.2s;
}
.a18 {
  animation-delay: 3.4s;
}
.a19 {
  animation-delay: 3.6s;
}
.a20 {
  animation-delay: 4s;
}
.a21 {
  animation-delay: 4.2s;
}

@keyframes wave {
  0%,
  50% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(4);
    background-color: whitesmoke;
  }
}

.dropbtn {
  background-color: whitesmoke;
  color: #282c34;
  padding: 8px;
  font-size: 18px;
  font-family: "Maitree", serif;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  margin-right: 9px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 18px;
  font-family: "Maitree", serif;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #cac7c7;
}

#logout:hover {
  background-color: #cac7c7;
}

#revealAnswer {
  background-color: whitesmoke;
  color: #282c34;
  padding: 8px;
  font-size: 18px;
  font-family: "Maitree", serif;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

#showAnswer {
  background-color: whitesmoke;
  color: #282c34;
  padding: 8px;
  font-size: 18px;
  font-family: "Maitree", serif;
  border: none;
  border-radius: 2px;
}

#revealAnswer:hover {
  background-color: #cac7c7;
}

.login {
  width: 30%;
  background-color: #342e2e;
}

#login-text {
  color: whitesmoke;
  font-family: "Maitree", serif;
}

.profileContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intervalResultContainer {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.interval-result {
  // width: 30%;
  border-radius: 5px;
  color: whitesmoke;
  border: none;
  font-family: "Pacifico";
  background-color: #282c34;
  margin-top: 2%;
  width: 25%;
  margin-left: 37%;
}

.chord-game-result {
  border-radius: 5px;
  color: whitesmoke;
  border: none;
  font-family: "Maitree", serif;
  background-color: #282c34;
  width: 25%;
  margin-left: 37%;
}

#login-text {
  font-size: 20px !important;
}

.login-page {
  padding: 12px;
}

#title {
  font-family: "Maitree", serif;
  color: whitesmoke;
}

#list {
  text-align: left;
  font-family: "Maitree", serif;
  color: whitesmoke;
}

#select {
  margin-top: 10px;
}

h1 {
  font-size: 3em;
  font-weight: normal;
  --bg-color: #282c34;
  border-radius: 5px;
}

/* title styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.home-title span {
  position: relative;
  overflow: hidden;
  display: block;
  line-height: 1.2;
}

.home-title span::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #282c34;
  border: none;
  border-radius: 2px;
  animation: a-ltr-after 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(-101%);
}

.home-title span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  animation: a-ltr-before 2s cubic-bezier(0.77, 0, 0.18, 1) forwards;
  transform: translateX(0);
}

.home-title span:nth-of-type(1)::before,
.home-title span:nth-of-type(1)::after {
  animation-delay: 0s;
}

.home-title span:nth-of-type(2)::before,
.home-title span:nth-of-type(2)::after {
  animation-delay: 1s;
}

@keyframes a-ltr-after {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes a-ltr-before {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: whitesmoke;
  background-color: var(--bg-color);
  font-family: "Maitree", serif;
}

.login-input {
  width: 150px;
  align-items: center;
  margin: 4px;
}
