.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#title {
  padding: 3px;
}

.game-container {
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

.question-text {
  margin-bottom: 12px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #282c34;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid whitesmoke;
  cursor: pointer;
}

.question-section {
  width: 100%;
  position: relative;
}

button:hover {
  background-color: #b6c6ff;
}

button svg {
  margin-right: 5px;
}

.answerButton {
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  background-color: #282c34;
  border-radius: 15px;
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  border: 5px solid whitesmoke;
  cursor: pointer;
}

.answer-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#login {
  padding: 15px;
  color: whitesmoke;
  font-size: 25px;
  text-decoration: none
}

#signup {
  color: whitesmoke;
  font-size: 25px;
  text-decoration: none
}

#logout {
  background-color: whitesmoke;
  color: #282c34;
  font-size: 20px;
  text-decoration: none;
  border-radius: 2px
}

#intGame {
  padding: 15px;
  color: whitesmoke;
  font-size: 25px;
  text-decoration: none
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.color-nav{
  background: #342e2e;
  font-family: 'Pacifico';
  color:whitesmoke;
  font-size: 25px;
  padding-right: 20px
}

.navi-container {
  display:flex;
  padding:9px;
}

.navi-login{
  display: flex; 
  justify-content: flex-end;
}

.navi-header{
  display:flex;
  flex: 3;
  justify-Content: flex-start;
}

.soundwave {
  width: 600px;
  height: 400px;
  margin: 50px auto;
}
.bar {
  display: inline-block;
  background-color: #342e2e;
  width: 20px;
  height: 20px;
  animation: wave 2s linear infinite;
}
.a1 {
  animation-delay: 0s;
}
.a2 {
  animation-delay: .2s;
}
.a3 {
  animation-delay: .4s;
}
.a4 {
  animation-delay: .6s;
}
.a5 {
  animation-delay: .8s;
}
.a6 {
  animation-delay: 1s;
}
.a7 {
  animation-delay: 1.2s;
}
.a8 {
  animation-delay: 1.4s;
}
.a9 {
  animation-delay: 1.6s;
}
.a9 {
  animation-delay: 1.6s;
}
.a10 {
  animation-delay: 1.8s;
}
.a11 {
  animation-delay: 2s;
}
.a12 {
  animation-delay: 2.2s;
}
.a13 {
  animation-delay: 2.4s;
}
.a14 {
  animation-delay: 2.6s;
}
.a15 {
  animation-delay: 2.8s;
}
.a16 {
  animation-delay: 3s;
}
.a17 {
  animation-delay: 3.2s;
}
.a18 {
  animation-delay: 3.4s;
}
.a19 {
  animation-delay: 3.6s;
}
.a20 {
  animation-delay: 4s;
}
.a21 {
  animation-delay: 4.2s;
}

 
@keyframes wave {
  0%, 50%{
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(4);
    background-color: whitesmoke;
  }
}